#web-search, #image-search, #news-search {

    background-color: black;;
    height: 100px;
    width: 500px;
    border-radius: 100px;
    margin: 100px auto;
    text-align: center;
    color: white;
    padding: 10px;
    
}

#search-container :hover{
    cursor: pointer;
    opacity: .5;
}

